body {
  padding-top: 5rem;
}
.content {
  padding: 3rem 1.5rem;
  /* text-align: center; */
}
.form-controls {
  text-align: right;
}
#result {
  width: 100%;
  min-height: 300px;
}

.select2 {
  width: 33% !important;
}

@media (max-width: 767.98px) {
  input, select, .select2 {
    width: 100% !important;
  }  
}
